
.container {
	width: 1160px;
	margin: 0 auto;
	position: relative;
}

.panel {
position: absolute;
left: 0;
display: none;
background: #fefdfb;
width: 300px;
height: 200px;
border:2px solid #a1978e;
padding: 20px 90px 20px 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
z-index:1;
}
.panel p{
margin-top:40px; 
padding: 0;
color: #222222;
}

.panel a:hover, .panel a:visited:hover{
margin: 0;
padding: 0;
color: #ffffff;
text-decoration: none;
border-bottom: 1px solid #ffffff;
}

a.trigger{
position: absolute;
text-decoration: none;
top: 0; left: 0;
font-size: 16px;
color:#fff;
padding: 15px 10px 15px 20px;
background: #a1978e;
-moz-border-radius-topright: 20px;
-webkit-border-top-right-radius: 20px;
-moz-border-radius-bottomright: 20px;
-webkit-border-bottom-right-radius: 20px;
display: block;
z-index:2;
}

a.active.trigger {
background:#d44039;
color: white;
}

#emaillink{
color:#c57434;
font: 400 90px/1.3 'Bree Serif', Georgia, serif;
font-size: 20px;
text-decoration:none;
}
#emaillink:hover { 
    color: #fd3862;
}

#arrowContact{
width: 50px;
height:50px;
float:right;
margin-top: -20px;

}
/* 
.header-image{
  background-position: 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0 auto 1em;
  height: 600px;
  width: 100%;
}
*/
.header-image{
background-repeat: no-repeat;
background-position: center center;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

/* HEADER*/
#headtittle{
color: #fff;
margin-top: 0;
padding-top: 40px;
font: 400 90px/1.3 'Bree Serif', Georgia, serif;
margin: auto 17%;
letter-spacing: 4px;

}
#header2{
color: #a1978e;
font: 400 80px/1.2 'Nixie One', Georgia, serif;
font-size: 37px;
margin: auto 27%; 
padding: 20px;
}

#titlemywork{
color: #a1978e;
text-align: center;
font-family: 'Amatic SC', cursive;
font-size: 50px;
padding-top: 0;
}


/*
.line{
 display: block;
 margin-top: 61px;
 margin-left: auto;
 margin-right: auto;
 border-width: 2px;
 color: #4d4c51;
}
*/
#sub-header {
	border-top: 1.5px solid;
	color: #c5c6c7;
	margin-top: 0;
}
/* slideshow code */
 #slideshow { 
    margin: 50px auto; 
	margin-bottom: 100px;
    position: relative; 
    width: 600px; 
    height: 400px; 
    padding: 10px; 
    box-shadow: 0 0 20px rgba(0,0,0,0.4); 
	overflow: hidden;
}

#slideshow > div { 
    position: absolute; 
    top: 10px; 
    left: 10px; 
    right: 10px; 
    bottom: 10px; 
}
#slideshow > div > img {
	max-width: 100%;
	max-height: 100%;
	
}
.bucket{
width: 550px;
height: auto;
margin-top: 70px;
margin-right: auto;
float: left;
}
.colortext{
font-size: 40px;
font-weight:400;
}
#logo{
margin-top: 70px;
margin-left: 50px;
width: 300px;
height: 453;
float: left;
}
#skillsPic{
width: 150px;
margin-top: 90px;
margin-right: 90px;
float: right;
}

.Mytext{
text-indent: 10px;
text-align: left;
color: #4d4c51;
font-size: 20px;
font-weight:400;
font-family: 'serif';
line-height: 1.5em;

}

#arrow{
display: block;
margin: 25px auto;
}
/* #aboutMe{
font-family: 'Bree Serif', Georgia, serif;
font-size: 28px;
text-align: center;
padding-top: 40px;
padding-bottom: 40px;
margin: 0;
color: #1b337a;
text-shadow: 1px 1px 2px white;
}
*/


#menu {
	padding: 10px;
}	
#social_icons {
    margin: 0 auto;
    width: 250px;
    height: 47px;
    text-align: center;
}

ul#menu li a {
	width: 47px;
    height: 47px;
    display: block;
    background: url('../img/icons/socialMedia1.png') no-repeat; /* As all link share the same background-image */
	}	

ul#menu li {
float: left;
padding-top: 40px;
display: block;
margin: 0 10px;
}

ul#menu li#instagram a {
    background-position: 0 0;
}

#instagram a:hover {
    background: url('../img/icons/socialMedia2.png') 0 0;
}

ul#menu li#twitter a {
    background-position: -60px 0;
}

#twitter a:hover {
    background: url('../img/icons/socialMedia2.png') -60px 0;
}

ul#menu li#dribbble a {
    background-position: -120px 0;
}

#dribbble a:hover {
    background: url('../img/icons/socialMedia2.png') -120px 0;
}


#foot{
background: #222222;
height: 170px;
width:auto;
}

#footerh5{
color: #fff;
text-align: center;
padding-top: 40px;
clear: both;
margin:0;
}

#scrollDown{
background: url('../img/icons/scrollDown.png');
position: absolute;
height: 100px;
width: 100px;
margin-top: 18%;
margin-left: 480px;
}

#scrollDown:hover{
background: url('../img/icons/hoverScroll.png');
}

.back-to-top {
    position: fixed;
    bottom: 2em;
    right: 0px;
    text-decoration: none; 
    background: url('../img/icons/Scroll-Top.png') no-repeat;
	width: 70px;
	height: 70px;
    padding: 1em;
    display: none;
}

